.filters-component {
    flex-shrink: 0;
    background: var(--main-bg);
    border-top: var(--main-divider);
    font-family: var(--ui-font-family), sans-serif;
    font-size: var(--ui-font-size);
    color: var(--main-text-fg);

    .filters-bar {
        height: var(--main-header-height);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px;

        .icon {
            width: 15px;
        }

        .bar-title {
            font-size: var(--ui-title-size);
        }

        .right-content {
            margin-left: auto;
            display: flex;
            align-items: center;

            .icon {
                width: 16px;
            }
        }

        &:hover {
            background: var(--main-hover-bg);
        }
    }

    .content-wrapper {
        border-top: var(--main-divider);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .filters-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 2px;
        }
    }

    .arrow-up {
        display: none;
    }

    &.collapsed {
        .arrow-down {
            display: none;
        }

        .arrow-up {
            display: block;
        }

        .content-wrapper {
            display: none;
        }
    }
}

.filter {
    padding: 10px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    width: 49%;

    &:hover {
        background: var(--main-hover-bg);
        border-radius: 4px;
    }
}