/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

:root {
    --ui-font-family: 'Helvetica';
    --ui-font-size: 13px;
    --ui-title-size: 14px;
    --code-font-family: monospace;

    --main-bg: #3c3f41;
    --main-secondary-bg: #535457;
    --main-hover-bg: #525557;
    --main-text-fg: #a9b7c6;
    --main-divider: solid 1px #323232;
    --main-header-height: 41px;

    --theme-hover-bg: #334565;
    --theme-focus-bg: #2f65ca;

    --darker-text-fg: #696c73;

    --stat-green-fg: rgb(58, 158, 58);
    --stat-orange-fg: rgb(255 165 0 / 0.7);
    --stat-red-fg: rgb(210, 83, 83);

    --code-bg: #2b2b2b;
    --code-line-height: 24px;
    --code-font-size: 0.83rem;

    --diff-remove: #492e2eb8;
    --diff-remove-dark: #571e1e;
    --diff-inline-remove: #a62d2d69;
    --diff-insert: #354a35bd;
    --diff-insert-dark: #1e561e;
    --diff-inline-insert: #20a4204a;

    --status-killed-fg: #008000;
    --status-killed-bg: #204020;
    --status-survived-fg: #ff0000;
    --status-survived-bg: #602020;
    --status-crashed-fg: #ffa500;
    --status-crashed-bg: #604920;
    --status-timeout-fg: #ffff00;
    --status-timeout-bg: #606020;
    --status-no-coverage-fg: #808080;
    --status-no-coverage-bg: #404040;

    --mutation-border: solid 1px #565656;
    --line-number-border: solid 1px #4c4c4c;
}

body {
    background: #2b2b2b;
}

a {
    color: #1395ff;
}

.spacer {
    width: 100%;
}

.framework-name {
    background: var(--main-secondary-bg);
    border-radius: 4px;
    padding: 2px 6px;
    font-family: var(--ui-font-family), sans-serif;
    font-size: var(--ui-font-size);
    color: var(--main-text-fg);
}